body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background: #f9f9f9;
}
body .container--full {
  border: 1px solid black;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
body .container--full .cf--left {
  flex-grow: 1.66;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .container--full .cf--left .cfl--steps {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 30px;
  font-size: 10px;
  font-weight: 500;
}
body .container--full .cf--left .cfl--steps .cfls--dots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}
body .container--full .cf--left .cfl--steps .cfls--dots .cfls--wrap {
  display: flex;
  flex-direction: row;
}
body .container--full .cf--left .cfl--steps .cfls--dots .cfls--wrap span {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  margin: 0px 4px;
  background: #999;
}
body .container--full .cf--left .cfl--steps .cfls--dots .cfls--wrap span.cfls--active {
  background: #000;
}
body .container--full .cf--left .cfl--form {
  width: 50%;
  margin: auto;
}
body .container--full .cf--left .cfl--form .cflf--head {
  color: #333333;
  font-size: 20px;
  font-weight: 700;
}
body .container--full .cf--left .cfl--form .cflf--text {
  color: #6a6a6a;
  font-size: 11px;
  padding: 30px 0;
}
body .container--full .cf--left .cfl--form .cflf--text a {
  color: #276ef9;
  font-weight: 700;
  text-decoration: none;
}
body .container--full .cf--left .cfl--form .input--box {
  position: relative;
  margin-bottom: 20px;
}
body .container--full .cf--left .cfl--form .input--box input,
body .container--full .cf--left .cfl--form .input--box select {
  border: 1px solid #ebebeb;
  background: none;
  padding: 15px 14px;
  border-radius: 2px;
}
body .container--full .cf--left .cfl--form .input--box input {
  width: 100%;
  outline: none;
}
body .container--full .cf--left .cfl--form .input--box select {
  display: inline-block;
  width: 100%;
  margin: 0;
  line-height: 1.5;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px;
}
body .container--full .cf--left .cfl--form .input--box select:focus:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
body .container--full .cf--left .cfl--form .input--box select:after {
  position: absolute;
  top: 50%;
  right: 1.25rem;
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  margin-top: -0.15rem;
  pointer-events: none;
}
body .container--full .cf--left .cfl--form .input--box select:active {
  color: #fff;
}
body .container--full .cf--left .cfl--form .input--box select::-ms-expand {
  display: none;
}
body .container--full .cf--left .cfl--form .input--box label {
  position: absolute;
  z-index: -1;
  display: block;
  margin-top: -30px;
  color: #777;
  margin-left: 10px;
  cursor: text;
  background: #f9f9f9;
  padding: 0px 4px;
  transition: 0.2s;
  font-size: 13px;
}
body .container--full .cf--left .cfl--form .input--box .input--constraint {
  font-size: 11px;
  color: #888;
}
body .container--full .cf--left .cfl--form .input--box .show--password {
  display: block;
  position: absolute;
  right: 8px;
  top: 15px;
  cursor: pointer;
  font-size: 13px;
  color: #333333;
}
body .container--full .cf--right {
  flex-grow: 1;
  background: #276ef9;
}

/*# sourceMappingURL=styles.css.map */
